{% extends "nav.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="static/index.css"/>
<div class="col-7 left-intro">
  <div style="width: 80%;">
    <div class="sub-title">Sketch Infomation</div>
    <div class="content">Fill your creative work information.</div>
    <div style="display:flex">
      <form class="loginform" action="" method="post" style="width:100%" onSubmit="exportimage(event)">
          <div class="form-group" style="display: flex;">
            <div style="flex:4 0 0;margin-right: 5px;"><input type="text" id="title" name="title" placeholder="title" style="width: 100%;" required/></div>
            <div style="flex:1 0 0;margin-left: 5px;"><button class="col" style="border-radius:3px;margin-top: 5px;margin-bottom: 5px;flex:1 0 0;width: 100%;">Export</button></div>
          </div>
          <textarea type="text" id="description" name="description" placeholder="description" style="width: 100%;" required></textarea>
      </form>
    </div>
  </div>
</div>
<div class="col-4 left-intro" style="margin-right: 1rem;">
  <div style="border-left: 2px solid white;">
    <div class="sub-title">Export image</div>
    <div class="content">Export and save image to Sketch Gallery.</div>
    <img
      class="m-3 border border-dark border-1 rounded-1"
      id="localimage"
      width="200"
      style="background-color: white;"
    />
  </div>
</div>





<script>
  window.onload = showlocalimage;
  const username = "{{ username }}";
  function showlocalimage() {
    const dataURL = localStorage.getItem("savedImage");
    const img = document.getElementById("localimage");
    img.src = dataURL;
  }
  const exportimage = async (event) => {
    event.preventDefault();

    const dataURL = localStorage.getItem("savedImage");
    console.log(dataURL);
    const blob = await fetch(dataURL).then((res) => res.blob());
    console.log(blob);
    if (blob) {
      const formData = new FormData();
      formData.append("image", blob, "image.png");
      formData.append("creator", username);
      formData.append("title", document.getElementById("title").value);
      formData.append(
        "description",
        document.getElementById("description").value
      );

      localStorage.removeItem("savedImage");
      try {
        const response = await fetch("/api/upload", {
          method: "POST",
          body: formData,
        });

        if (!response.ok) {
          throw new Error("File upload failed");
        }

        const result = await response.json();
        console.log("File uploaded successfully:", result);
        onUploadSuccess();
      } catch (error) {
        console.error("Error uploading file:", error);
      }
      window.location.href = "/gallery";
    }
  };
</script>
{% endblock %}
