{% extends "base.html" %} {% block index %}
<link rel="stylesheet" type="text/css" href="static/styles/index.css"/>
<script src="https://cdn.jsdelivr.net/npm/three@0.160.1/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dat.gui@0.7.9/build/dat.gui.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/952bab25f6798d6bb1937d67e9bee4dd?family=Sans" rel="stylesheet" type="text/css"/>
<div class="overlay" id="overlay">
  <form id="login-form" class="login-form" action="" method="post">
    <img class="login-form-close-icon" id="login-close" src="static/icons/close.svg"/>
    <div class="login-form-title">Welcome</div>
    <input type="text" id="login-email" value="123" class="login-form-item" name="username" placeholder="username" required/>
    <input type="password" id="login-pw" value="123123" class="login-form-item" name="password" placeholder="password" required/>
    <button class="login-form-button">SignIn</button>
    <div id="login-log" class="form-log"></div>
    <div class="form-text" onclick="toggleUserForm('signup')">Don’t have an account? → <a href="/register">Sign Up</a></div>
  </form>
</div>
<div class="main-container">

  <div class="top-main-container">
    <div>
      <div class="top-main-title">Sharing Sketch</div>
      <div class="top-main-subtitle">A space built for collaborative creation and communication.</div>
      <div class="top-main-subtitle">Real-time ideas. Real-time canvas.</div>
      <div class="top-main-buttondiv">
        <button class="top-main-button" id="login-show">Get Started</button>
      </div>
    </div>
  </div>
  <div class="tab-container">
    <div class="tab-bar">
      <div>
        <div class="tab-title" id="tab-title">Features</div>
      </div>
      <div  class="tab-item-list">
        <div class="tab-item active">Features</div>
        <div class="tab-item">About</div>
      </div>
    </div>
  </div>
  <div class="feature-main-container">
    <div style="display: flex;align-items: start;max-width: 1200px;">
      <div class="feature-main-column">
        <div class="feature-main-element">
          <div class="feature-main-element-image">
            <img src="static/pics/chooseroom.png" />
          </div>
          <div class="feature-main-element-description">
            <div class="feature-main-element-description-title">Synchronization Canvas</div>
            <div class="feature-main-element-description-content">
              Collaborate in real time by instantly sharing your sketches on the synchronization canvas.
            </div>
            <div class="feature-main-element-description-title">Communication</div>
            <div class="feature-main-element-description-content">
              Show live cursors for real-time presence and messaging on the shared canvas.
            </div>
          </div>
        </div>
        <div class="feature-main-element">
          <div class="feature-main-element-description left">
            <div class="feature-main-element-description-title">Sketch Tool</div>
            <div class="feature-main-element-description-content">
              Utilize a versatile set of drawing tools, including brush, eraser, airbrush, and horizontal flip, among others.
            </div>
            <div class="feature-main-element-description-title">RWD Support</div>
            <div class="feature-main-element-description-content">
              Adjust canvas automatically to ensure smooth interaction across all screen sizes.
            </div>
            <div class="feature-main-element-description-title">Accessibility</div>
            <div class="feature-main-element-description-content">
              Achieve natural drawing with <b>pressure-sensitive</b> strokes and intuitive <b>keyboard shortcuts.</b>
            </div>
          </div>
          <div class="feature-main-element-image">
            <img src="static/pics/chooseroom.png" />
          </div>
        </div>
        <div class="feature-main-element">
          <div class="feature-main-element-image">
            <img src="static/pics/chooseroom.png" />
          </div>
          <div class="feature-main-element-description">
            <div class="feature-main-element-description-title">Room Management</div>
            <div class="feature-main-element-description-content">
              Enable persistent layer storage and manage room visibility settings for controlled access and presentation.
            </div>
            <div class="feature-main-element-description-title">Gallery Management</div>
            <div class="feature-main-element-description-content">
              Organize sketches efficiently with options to import, export, edit, and download from gallery.
            </div>
          </div>
        </div>
      </div>
      <div class="feature-main-column" style="flex:unset;width:150px;display: flex;margin-top: 50px;position:sticky;top:90px;margin-left: 40px;">
        <div class="feature-main-timelinediv">
          <div class="feature-main-timeline-circle active">
            <div class="feature-main-timeline-text">Synchronization</div>
          </div>
          <div class="feature-main-timeline-line active"></div>
          <div class="feature-main-timeline-circle active">
            <div class="feature-main-timeline-text active">Sketch</div>
          </div>
          <div class="feature-main-timeline-line"></div>
          <div class="feature-main-timeline-circle">
            <div class="feature-main-timeline-text">Management</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="feature-main-container">
    <div class="feature-main-column">
      <div class="feature-main-itemdiv" style="aspect-ratio: 3.5/4;">
        <div class="feature-main-item">
          <div class="feature-main-title">Room Management</div>
          <div class="feature-main-item-back">
            <img src="static/pics/chooseroom.png"/>
          </div>
        </div>
      </div>
      <div class="feature-main-itemdiv" style="aspect-ratio: 5/4;">
        <div class="feature-main-item">
          <div class="feature-main-title">Drawing Tool</div>
          <div class="feature-main-item-back">
            <img src="static/pics/room.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-main-column">
      <div class="feature-main-itemdiv" style="aspect-ratio: 3.2/4;">
        <div class="feature-main-item">
          <div class="feature-main-title">Communication</div>
          <div class="feature-main-item-back">
            <img id="communication" src="static/pics/chat.png"/>
          </div>
        </div>
      </div>
      <div class="feature-main-itemdiv" style="aspect-ratio: 3.8/4;">
        <div class="feature-main-item">
          <div class="feature-main-title">Gallery Management</div>
          <div class="feature-main-item-back">
            <img src="static/pics/gallery.png"/>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="footer-container">
    <p>© 2025 Biz Hung. All rights reserved.</p>
  </div>






</div>
<!-- <script src="static/scripts/index3D.js"></script> -->
<script src="static/scripts/index.js"></script>
{% endblock %}
