{% extends "nav.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="static/index.css"/>
<div class="row">
  <div class="col">
    <div class="title">Sharing Sketch</div>
    <div class="sub-title">A Sketch,Chat,Share</div>
    <div class="sub-title">Integrated application.</div>
    <div class="content">Providing basic sketch tools, sketch with others in a synchronization canvas.</div>
    <div style="display:flex">
      <form class="loginform" style="flex:4 0 0" action="" method="post">
          <div class="form-group">
            <input type="text" id="inputEmail3" placeholder="username" name="username" style="width:100%"/>
          </div>
          <div class="form-group" style="display: flex;">
            <input class="col" type="password" id="inputPassword3" placeholder="password" name="password" style="flex:9 0 0"/>
            <button class="col" style="border-radius:3px;margin: 5px;margin-right: 0px;flex:1 0 0">SignIn</button>
          </div>
          <b><p style="color: red;text-align: center;margin: 1px;font-size: 20px;">{{message}}</p></b>
      </form>
      <div class="loginform row" style="flex:1 0 0;margin-left: 10px;">
        <div style="display: grid;justify-content: start;align-items: end;margin-bottom: 10px;padding-left: 0px;"><a href="/register" style="color:rgb(255, 255, 255)"><b>New User?</b></a></div>
      </div>
    </div>
  </div>
  <div class="line-breaker"></div>
  <div class="col">

  </div>
</div>
{% endblock %}
