{% extends "base.html" %} {% block nav %}
{% if request.url.path == '/room'  %}
<body onload="init()" style="background-color: rgb(64, 64, 64)">
  <div class="row">
    <div class="row" style="position: relative;z-index: 101; background-color:  rgb(64, 64, 64);border-bottom: 2px solid white;">
{% else %}
<body style="background-color: rgb(64, 64, 64)">
  <link rel="stylesheet" type="text/css" href="static/styles/nav.css"/>
  <div class="row">
    <div class="row" style="z-index: 900;border-bottom: 1px solid white;">
          <div class="col-10" style="display: flex;justify-content: start;align-items: center;">
            <a href="/" style="text-decoration: none;">
                <h1 class="fw-bold m-3 text-light" style="width: fit-content;">Sharing Sketch</h1>
            </a>
          </div>
          <div class="col-2" style="display: flex;justify-content: end;align-items: center;white-space: nowrap;">
            <a href="/gallery" style="text-decoration: none;">
              <h3 class="m-3 text-light" style="text-align: right;padding: 0.5rem;border: 2px solid white;border-radius: 3px;">Gallery</h3>
            </a>
            {% if (request.url.path != '/' and request.url.path != '/register')  %}
            {% include "nav_collapse1.html"%}
            {% endif %}
          </div>
{% endif %}
          {% if request.url.path == '/room'  %}
          {% include "nav_roomtools.html"%}
          {% endif %}
        </div>
        {% if (request.url.path != '/' and request.url.path != '/register')  %}
        {% include "nav_collapse2.html"%}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
{% endblock %}
