<div class="offcanvas offcanvas-end canvas-left" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-body">
      <div class="canvas-left-info">
        <img class="canvas-left-info-img" src="static/icons/user.svg">
        <div class="canvas-left-info-name">Hi,{{username}}</div>
      </div>
      <div class="canvas-left-item">
        <a class="canvas-left-item-link" href="/portfolio">
          <div class="canvas-left-itemdiv">
            <img class="canvas-left-img" src="static/icons/profile.svg">
            <div class="canvas-left-text">Edit Profile</div>
          </div>
        </a>
      </div>
      <hr style="border-width: 1px;color: white;opacity: 1;">
      <div class="canvas-left-item">
        <a class="canvas-left-item-link" href="/logout">
          <div class="canvas-left-itemdiv">
            <img class="canvas-left-img" src="static/icons/logout.svg" >
            <div class="canvas-left-text">Log Out</div>
        </div>
        </a>
      </div>
    </div>
</div>
