<div style="display: flex;position: relative;align-items: center;">
    <a class="hompage-icon-href" href="/">
        <img src="static/icons/home.svg"/>
    </a>
    <li class="nav-tool-li" style="list-style-type: none;">
        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
            <div class="tool_name px-3" style="width: fit-content;color: rgb(255, 255, 255);">File</div>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" style="background-color:  rgb(64, 64, 64);border:0px;">
            <li>
                <label class="dropdown-item" for="load_image">Import Image</label>
                <input id="load_image" style="display: none" type="file" />
            </li>
            <li><div class="dropdown-item" onclick="exportimage()">Export to Gallery</div></li>
            <li><div class="dropdown-item" onclick="saveimage()">Save as PNG</div></li>
            <li><div class="dropdown-item" onclick="save_layer_database()">Save Room Layers</div></li>
        </ul>
    </li>
    <li class="nav-tool-li" style="list-style-type: none;">
        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
            <div class="tool_name px-3" style="width: fit-content;color: rgb(255, 255, 255);">Edit</div>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" style="background-color:  rgb(64, 64, 64);border:0px;">
            <li><div class="dropdown-item" onclick="show_revise_tool()">Adjust selection</div></li>
            <li><div class="dropdown-item" onclick="erase_all()">Clear layer</div></li>
        </ul>
    </li>
    <li class="nav-tool-li" style="list-style-type: none;">
        <a class="nav-too-href tool_name" onclick="backLastStep()">
            <img class="" src="static/icons/back-step.svg"> 
        </a>
    </li>
    <div class="online-switch-div">
        <img id="online-switch-img" src="static/icons/offline.svg">
        <div id="online-switch-text" style="margin: 5px;color:white;font-weight: bold;">OFFLINE</div>
        <label class="switch">
            <input type="checkbox" id="online-switch-input">
            <span id="online-switch-label" class="slider round"></span>
        </label>
    </div>
</div>