{% extends "nav.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="static/styles/index.css"/>
  <div class="col left-intro">
    <div class="sub-title">Register account</div>
    <div class="content">Add your account Freely.</div>
    <div style="display:flex">
      <form class="loginform" style="flex:4 0 0" action="" method="post">
          <div class="form-group">
            <input type="text" id="inputEmail3" placeholder="username" name="username" style="width:100%"/>
          </div>
          <div class="form-group" style="display: flex;">
            <input class="col" type="password" id="inputPassword3" placeholder="password" name="password" style="flex:9 0 0"/>
            <button class="col" style="border-radius:3px;margin: 5px;margin-right: 0px;flex:1 0 0">Register</button>
          </div>
          <b><p style="color: red;text-align: center;margin: 1px;font-size: 20px;">{{message}}</p></b>
      </form>
      <div class="loginform row" style="flex:1 0 0;margin-left: 10px;">
      </div>
    </div>
  </div>
  <div class="col">

  </div>
{% endblock %}
