{% extends "nav.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="static/styles/index.css"/>
<link rel="stylesheet" type="text/css" href="static/styles/room_choose.css"/>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
<div id="form-mask" class="mask">
  <div id="createroom-div" class="popup-form">
    <div class="closeicondiv">
      <img class="closeicon" src="/static/icons/close.svg" onclick="showUserForm(false)"/>
    </div>
    <form id="createroom-form" class="createroom-form" method="post" action="/createroom">
      <div class="form-title">Create New Room</div>
      <div class="form-item-label">Room Name</div>
      <input type="text" class="form-item" name="roomname" placeholder="roomname" required/>
      <div class="form-item-label">Category</div>
      <input type="text" class="form-item" name="category" placeholder="category" required/>
      <div class="form-item-label">Tags</div>
      <input type="text" class="form-item" name="tags" placeholder="tags" required/>
      <button class="form-button">Create</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="content">
    <div class="information">
      <div class="left-sidebar">
        <div class="left-sidebar-portofolio">
          {% if avatar%}
          <img class="left-sidebar-avatar" src="{{avatar}}">
          {% else%}
          <img class="left-sidebar-avatar" src="static/icons/user.svg">
          {% endif%}
          <div class="left-sidebar-name">{{user.username}}</div>
        </div>
        <div class="left-sidebar-aboutme">
          {{user.about_me}}
        </div>
      </div>
      <div class="main">
        <div class="main-room">
          <div class="left-sidebardiv">
            <div class="left-sidebar-toggle-title" id="toggle-title" onclick="toggleShowManagePanel()">
              <div style="display: flex;">
                <img style="width: 16px;" id="toggle-icon" src="static/icons/people.svg"/>
                <div id="toggle-text" class="left-sidebar-item-text">Room Lobby</div>
              </div>
              <img src="static/icons/tool-down.svg"/>
            </div>
            <div class="left-sidebar-toggle" id="toggle-div">
              <div class="left-sidebar-item" onclick='showManagePanel("lobby")'>
                <img src="static/icons/people.svg"/>
                <div class="left-sidebar-item-text">Room Lobby</div>
              </div>
              <div class="left-sidebar-item" onclick='showManagePanel("setting")'>
                <img src="static/icons/stack.svg"/>
                <div class="left-sidebar-item-text">Room Setting</div>
              </div>
            </div>
          </div>
          <div id="main-room-lobby">
            <div class="sub-title">
              <img class="main-title-icon" src="static/icons/record.svg"/>
              <div>Live Sketch Rooms</div>
            </div>
            <div class="intros">Create your own Sketch room to draw, explore ideas, and have fun<br>— or check out existing rooms to join others in a creative session.</div>
            <div class="main-room-scroll">
              <div class="main-roomdiv">
                <div class="main-roominfo main-roomform" onclick="showUserForm(true)">
                  <div class="main-roominfo-create">
                    <img src="static/icons/plus-circle.svg"/>
                  </div>
                  <div class="main-roominfo-information">
                    <div class="room-title">Create Live Room</div>
                  </div>
                </div>
                {% if roominfolive%}
                {% for room in roominfolive %}
                <form class="main-roominfo main-roomform" method="post" action="/chooseroom" id='liveRoomForm-{{room["id"]}}'>
                  <input type="hidden" name="roomsid" value='{{room["id"]}}'>
                  <div class="main-roominfo" onclick='postLiveRoom("{{room.id}}")'>
                    <img style="position: relative;width: 100%;aspect-ratio: 1;" src="{{room['thumbnail']}}">
                    <div class="main-roominfo-banner">
                      LIVE&nbsp;
                      <img src="static/icons/user.svg"/>&nbsp;
                      {{room['members']}}
                    </div>
                    <div class="main-roominfo-information">
                      <div class="room-title">{{room["roomname"]}}</div>
                    </div>
                  </div>
                </form>
                {% endfor %}
                {% endif%}
              </div>
            </div>
            <div class="sub-title">
              <img class="main-title-icon" src="static/icons/history.svg"/>
              <div>Your Former Rooms</div>
            </div>
            <div class="intros">Jump back into your active room to keep drawing, exploring ideas,<br>and collaborating with others in your creative space.</div>
            <div class="main-room-scroll">
              <div class="main-roomdiv">
                {% if roominfo%}
                {% for room in roominfo %}
                <form class="main-roominfo main-roomform" method="post" action="/chooseroom" id='formerRoomForm-{{room["id"]}}'>
                  <input type="hidden" name="roomsid" value='{{room["id"]}}'>
                  <div class="main-roominfo" onclick='postFormerRoom("{{room.id}}")'>
                    {% for participant in room["participants"] %}
                    <img src='/thumbnail/room/{{room["id"]}}/{{participant}}'>
                    {% endfor %}
                    <div class="more-icondiv"></div>
                    <div class="main-roominfo-information">
                      <div class="room-title">{{room["roomname"]}}</div>
                    </div>
                  </div>
                </form>
                {% endfor %}
                {% endif%}
              </div>
            </div>
          </div>
          <div id="main-room-setting">
            <div class="sub-title">
              <img class="main-title-icon" src="static/icons/gear.svg"/>
              <div>Your Own Rooms</div>
            </div>
            <div class="intros">Manage your rooms — show in lobby or delete.</div>
            <div class="main-room-scroll">
              <div class="main-roomdiv">
                {% if self_roominfo%}
                {% for room in self_roominfo %}
                <form class="main-roominfo main-roomform" method="post" action="/chooseroom" id='selfRoomForm-{{room["id"]}}'>
                  <input type="hidden" name="roomsid" value='{{room["id"]}}'>
                  <div class="main-roominfo" onclick='postSelfRoom("{{room.id}}")'>
                    {% for participant in room["participants"] %}
                    <img src='/thumbnail/room/{{room["id"]}}/{{participant}}'>
                    {% endfor %}
                    <div class="more-icondiv" id='showTool-{{room["id"]}}'>
                      {% if room["is_display"] %}
                      <img class="eye-icon" id='displayicon-{{room["id"]}}' src="static/icons/eye_black.svg" onclick='showTool(event,"{{room.id}}")'/>
                      {% else %}
                      <img class="eye-icon" id='displayicon-{{room["id"]}}' src="static/icons/eye-slash_black.svg" onclick='showTool(event,"{{room.id}}")'/>
                      {% endif %}
                      <img class="more-icon" src="static/icons/more.svg" onclick='showTool(event,"{{room.id}}")'/>
                    </div>
                    <div class="main-roominfo-information">
                      <div class="room-title">{{room["roomname"]}}</div>
                    </div>
                  </div>
                </form>
                {% endfor %}
                {% endif%}
              </div>
            </div>
          </div>
          <div class="roomTool" id="roomTool">
            <div class="roomTool-item" onclick="reviseRoomDisplay(event)">
              <img id="display-icon" src="static/icons/eye.svg" />
              <div class="roomTool-item-text" id="display-text">Display</div>
            </div>
            <div class="roomTool-item" onclick="deleteRoom(event)">
              <img src="static/icons/trash.svg" />
              <div class="roomTool-item-text">Delete</div>
            </div>
          </div>
        </div>
        {% if src%}
        <div class="right-sidebar">
          <div>
            <div>
              <div class="sub-title">
                <img class="main-title-icon" src="static/icons/import.svg"/>
                <div>Import Image</div>
              </div>
              <div class="intros">Image will be added to the room</div>
              <div class="right-sidebardiv">
                <img class="right-sidebar-img" id="localimage"/>
              </div>
            </div>
          </div>
        </div>
        {% endif%}
      </div>
    </div>
  </div>
</div>
<script src="static/scripts/room_choose.js"></script>
{% endblock %}
