{% extends "nav.html" %} {% block content %}
  <link rel="stylesheet" type="text/css" href="static/styles/room.css"/>
  <div class="toobar-container">
    <div style="display: flex;justify-content:space-between;height: 100%;">
      <div class="toolbar">
        <a class="tool-icon-href" id="pan_pivot" onclick="changeTool('pan')">
          <img src="static/icons/move.svg">
        </a>
        <a class="tool-icon-href" id="mirror_pivot" onclick="mirror()">
          <img src="static/icons/mirror.svg">
        </a>
        <a class="tool-icon-href" id="colorPicker_pivot" onclick="changeTool('colorpicker')">
          <img src="static/icons/color-picker.svg"> 
        </a>
        <a class="tool-icon-href" id="draw-tab" onclick="changeTool('brush')">
          <img src="static/icons/draw.svg">
        </a>
        <a class="tool-icon-href" id="eraser-tab" onclick="changeTool('eraser')">
          <img src="static/icons/eraser.svg">
        </a>
        <a class="tool-icon-href" id="airbrush-tab" onclick="changeTool('airbrush')">
          <img src="static/icons/airbrush.svg">
        </a>
      </div>
      <div class="tool-zoom-div">
        <img src="static/icons/zoom.svg">
        <input type="range" class="form-range" id="zoom_range" min="-1.30" max="0.4771" step="0.001" value="1"/>
      </div>
      <div class="item" id="right-toolbar" style="z-index: 100;height: fit-content;">
        <!-- ColorPicker Tool Code -->
        <div class="message-title" style="display: flex;flex-wrap: wrap;">
          <div class="draw-colorpickerdiv-hue">
            <div class="draw-colorpicker-hue" id="colorpicker-hue"></div>
            <div class="draw-colorpicker-hue-icon" id="colorpicker-hue-icon"></div>
          </div>
          <div class="draw-colorpickerdiv" id="colorpickerdiv">
            <img class="draw-colorpicker-img" src="static/bg_colorpicker.png" id="colorpicker-img"/>
            <div class="draw-colorpicker-bg" id="colorpicker-bg"></div>
            <div class="draw-colorpicker-icon" id="colorpicker-icon"></div>
          </div>
          <div style="flex-basis: 100%;"></div>
          <div class="draw-colorpicker-show" id="colorpicker-show">
          </div>
          <div class="draw-colorpicker-samplediv" id="colorpicker-sample">
            <div class="draw-colorpicker-sample"></div>
            <div class="draw-colorpicker-sample"></div>
            <div class="draw-colorpicker-sample"></div>
            <div class="draw-colorpicker-sample"></div>
            <div class="draw-colorpicker-sample"></div>
            <div class="draw-colorpicker-sample-menu" id="colorpicker-sample-menu">Change Color</div>
          </div>
        </div>
        <!-- Brush Tool Code -->
        <div id="brush" style="display: none;">
          <div class="message-title" style="color: white;">
            <img src="static/icons/tool-down.svg">
            Brush Tool
          </div>
          <div class="message-title" style="position: relative; display: flex">
            <label style="font-size:small;margin-right: 10px;">Size:</label>
            <input type="range" class="form-range" id="width_range" min="1" max="100"/>
          </div>
        </div>
        <!-- Eraser Tool Code -->
        <div id="eraser" style="display: none;">
          <div class="message-title" style="color: white;">
            <img src="static/icons/tool-down.svg">
            Eraser Tool
          </div>
          <div class="message-title" style="position: relative; display: flex">
            <label style="font-size:small;margin-right: 10px;">Size:</label>
              <input type="range" class="form-range" id="eraser_width_range" min="1" max="200"/>
          </div>
        </div>
        <!-- Eraser Tool Code -->
        <div id="airbrush" style="display: none;">
          <div class="message-title" style="color: white;">
            <img src="static/icons/tool-down.svg">
            AirBrush Tool
          </div>
          <div class="message-title" style="position: relative; display: flex">
            <label style="font-size:small;margin-right: 10px;">Size:</label>
              <input type="range" class="form-range" id="airbrush_width_range" min="1" max="500"/>
          </div>
        </div>
        <!-- Revise Tool Code -->
        <div class="message-title row" id="revise-tool" style="position: relative; display: none;">
          <div class="col" id="revise_range_div"  style="position: relative;display:none">
            <label for="customRange1" class="form-label">Revise Scale</label>
            <input type="range" class="form-range" id="revise_range" min="0.5" max="3" step="0.001" value="1"/>
          </div>
          <button class="btn btn-outline-light" id="revise_button" onclick="revise_start()" style="width: 100%">
            revise
          </button>
        </div>
        <!-- Tools Panel Code -->
        <div class="bottom-tool-div" id="bottom-tool">
          <img class="bottom-tool-close-icon" src="static/icons/close-white.svg" id="bottom-tool-close-icon"/>
          <div style="width: 100%; display: flex;align-items: center;margin-bottom: 3px;" id="bottom-tool-slidediv">
            <div style="flex:2; height: 2px;background-color: white;"></div>
            <div style="flex:3; height: 30px;display: flex;align-items: center;" id="bottom-tool-slide">
              <div style="width:100%;height: 5px;background-color: white;">
            </div>
            </div>
            <div style="flex:2; height: 2px;background-color: white;"></div>
          </div>
          <ul class="nav nav-tabs" id="bottom-tool-Tab" role="tablist" data-bs-auto-close="false"  style="--bs-nav-tabs-link-active-bg:rgb(128, 128, 128);--bs-nav-tabs-link-active-border-color:var(--bs-border-color) var(--bs-border-color) rgb(128, 128, 128);">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="chatroom-tab" data-bs-toggle="tab" data-bs-target="#chatroom" type="button" role="tab" aria-controls="chatroom" aria-selected="false">
                <img src="static/icons/chat.svg">
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="layer-tab" data-bs-toggle="tab" data-bs-target="#layer" type="button" role="tab" aria-controls="layer" aria-selected="false">
                <img src="static/icons/layer.svg">
              </button>
            </li>
          </ul>
          <!-- Message Tool Code -->
          <div class="message-tool-container" id="chatroom" style="padding:2px;display: flex;">
            <div class="message-title" id="room-info" ></div>
            <!-- <div class="message-title" style="text-align: start;">Message:</div> -->
            <div class="rounded-3 border p-1 message-title" id="chat">
                <ul id="chat-messages" class="overflow-auto"style="max-height: 200px;"></ul>
                <div class="input-group">
                  <input type="text" class="form-control" id="message" placeholder="Enter a Message" style="background-color: transparent;color: rgb(255, 255, 255);" onkeydown="event.stopPropagation();" onkeyup="event.stopPropagation();" autocomplete="off" />
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="sendMessage()">Send</button>
                </div>
            </div>
            <!-- <div class="message-title" style="text-align: start;">Member:</div> -->
            <div class="rounded-3 border p-1 message-title" id="members">
              <ul id="members-list"  class="overflow-auto"></ul>
            </div>
          </div>
          <!-- Layer Tool Code -->
          <div class="layer-tool-container" id="layer" style="display: none;">
            <div class="message-title" style="position: relative; z-index: 100;display: flex;padding: 5px 0px;">
                <label for="customRange1" style="margin-right: 10px;font-size: small;">opacity</label>
                <input type="range" class="form-range" id="opacity_range" min="0" max="1" step ="0.01"/>
              </div>
              <div class="layer-tooldiv">
                <a class="layer-tool-icon" onclick="add_minelayer()">
                  <img src="static/icons/plus.svg">
                </a>
                <a class="layer-tool-icon" onclick="delete_minelayer()">
                  <img src="static/icons/minus.svg">
                </a>
                <a class="layer-tool-icon" onclick="change_minelayer_order(1)">
                  <img src="static/icons/up.svg">
                </a>
                <a class="layer-tool-icon" onclick="change_minelayer_order(-1)">
                  <img src="static/icons/down.svg">
                </a>
              </div>
              <ul class="layer-ul" id="layer_thumbnail" >
                <li id="thumbnail_1" style="background-color: rgb(95, 103, 255)" onclick="change_minelayer_active(this)"><a style="margin: 10px;"id="visibility_1" onclick="change_minelayer_visibility(this)">
                    <img src="static/icons/eye.svg"
                    ><span class="visually-hidden">Button</span></a><img class="mx-2" width="50" height="50"
                  /></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
      <div class="item" id="painting-area">
      <div id="guide" style="display:none;position: absolute;border: 0px solid;touch-action: none;z-index: 101;width:100%;height: 100%;top:0px;background-color: rgba(0, 0, 0, 0.2);">
        <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
          <ul style="padding: 20px 20px 20px 40px;border-radius: 5px;border: 1px solid black;overflow: hidden;background-color:rgb(64,64,64);color:white">
            <li>P – <img src="static/icons/draw.svg"></li>
            <li>E – <img src="static/icons/eraser.svg"></li>
            <li>Space – <img src="static/icons/move.svg"></li>
            <li>Right Click – <img src="static/icons/color-picker.svg"></li>
            <li>Q – <img src="static/icons/mirror.svg"></li>
            <li style="align-items: center;">
              <span>[ –</span>
              <span class="guide-text">Decrease Brush Size</span>
            </li>
            <li style="align-items: center;">
              <span>] –</span>
              <span class="guide-text">Increase Brush Size</span>
            </li>
          </ul>
          <img id="guide-close-icon" src="static/icons/close-white.svg" style="width: 30px;position: absolute;top:0px;right:0px;margin: 10px;"/>
        </div>
      </div>
      <canvas
        id="middle"
        style="
          position: absolute;
          border: 0px solid;
          touch-action: none;
          z-index: 80;
        "
      ></canvas>
      <canvas
        id="can"
        style="
          position: absolute;
          border: 0px solid;
          touch-action: none;
          z-index: 70;
        "
      ></canvas>
      <canvas
        id="minelayer1"
        class="minelayer"
        style="
          position: absolute;
          border: 0px solid;
          touch-action: none;
          z-index: 10;
          opacity:1;
          visibility: visible;
        "
      ></canvas>
      <canvas
        id="projection"
        style="
          position: absolute;
          border: 0px solid;
          touch-action: none;
          z-index: 2;
        "
      ></canvas>
      <div
        id="bg"
        style="
          position: absolute;
          width: 2000px;
          height: 2000px;
          border: 0px solid;
          border-style: dashed;
          border-color: rgb(255, 255, 255);
          background-color: rgb(255, 255, 255);
          touch-action: none;
          z-index: 0;
        "
      ></div>
    </div>
    <div
      class="item"
      style="
        position: relative;
        z-index: 100;
        background-color: rgb(255, 229, 211);
        visibility:hidden;
      "
    >
    </div>
  <!-- Client Render Code -->
  <script src="static/scripts/uiTool.js"></script>
  <script src="static/scripts/airBrushTool.js"></script>
  <script src="static/scripts/brushTool.js"></script>
  <script src="static/scripts/panTool.js"></script>
  <script src="static/scripts/eraserTool.js"></script>
  <script src="static/scripts/eyeDropperTool.js"></script>
  <script src="static/scripts/toolManager.js"></script>
  <script src="static/draw.js"></script>
  <script src="static/scripts/cursorTracker.js"></script>
  <script src="static/scripts/colorPicker.js"></script>
  <script src="static/scripts/colorPickerSample.js"></script>
  <script src="static/mod_function.js"></script>
  <script src="static/layer_function.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <!-- Websocket Code -->
  <script>
    const usersid = "{{ usersid }}";
    const username = "{{ username }}";
    const room = "{{ roomname }}";
    const roomsid = "{{ roomsid }}";
    let toolShow="";
    window.onload=init();
    function show_revise_tool(){
      if (document.getElementById('revise-tool').style.display=="none")
        {
          document.getElementById('revise-tool').style.display="block";
        }else{
          document.getElementById('revise-tool').style.display="none";
        }
    }
  </script>
  <script src="static/ws_client.js"></script>
{% endblock%}
