{% extends "nav.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="static/index.css"/>
<div class="row">
<div class="col left-intro" style="flex:7 0 0 ">
  <div style="width: 80%;">
    <div class="sub-title">Select Sketch Room</div>
    <div class="content">Create and join a brand new room.</div>
    <div style="display:flex">
      <form class="loginform" action="" method="post" style="width:100%">
          <div class="form-group" style="display: flex;">
            <div style="flex:3 0 0;margin-right: 5px;"><input type="text" id="roomname" placeholder="roomname" name="roomname" style="width: 100%;" required/></div>
            <div style="flex:1 0 0;margin-left: 5px;"><button class="col" style="border-radius:3px;margin-top: 5px;margin-bottom: 5px;flex:1 0 0;width: 100%;">Create Room</button></div>
          </div>
      </form>
    </div>
    {% if roominfo%}
    <div class="content">Join to a specific room, and sketch with members together.</div>
    <div style="display: flex;">
      <div class="table loginform" style="--bs-table-bg:transparent;">
        <div style="padding: 0px;display: flex;">
          <div class="table_content" style="flex:1 0 0;color: white;border-bottom: 2px solid  rgb(184, 184, 184);">Existing Room</div>
          <div class="table_content" style="flex:2 0 0;color: white;border-bottom: 2px solid  rgb(184, 184, 184);margin-right: 5px;">Members</div>
          <div style="flex:1 0 0;margin-left: 5px;"></div>
        </div>
        <form method="post">
          {% for room,members in roominfo.items() %}
          <div style="display:flex;">
            <div class="table_content" style="flex:1 0 0;color: rgb(184, 184, 184);padding:0px">{{room}}</div>
            <div class="table_content" style="flex:2 0 0;margin-right: 5px;padding:0px">
              {% for member in members %}
              <div style="color: rgb(184, 184, 184);">{{member}} <br /></div>
              {% endfor %}
            </div>
            <div style="flex:1 0 0;padding:0px;margin-left: 5px;">
              <button type="submit" name="roomname" value="{{room}}" style="border-radius:3px;margin-top: 5px;margin-bottom: 5px;width: 100%;">
                Join Room {{room}}
              </button>
            </div>
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
    {% endif%}
  </div>
</div>
<div class="line-breaker"></div>
<div class="col left-intro" style="margin-right: 1rem;flex:4 0 0 ">
{% if src%}
  <div style="border-left: 2px solid white;">
    <div class="sub-title">Import image</div>
    <div class="content">Import image from gallery.</div>
    <img
      class="m-3 border border-dark border-1 rounded-1"
      id="localimage"
      width="200"
      style="background-color: white;"
    />
  </div>
{% endif%}
</div>
</div>








<script>
  const importimage = async (event) => {
    event.preventDefault();
    const img = document.getElementById("localimage");
    try {
      const imageResponse = await fetch(`/image/{{src}}`);
      if (!imageResponse.ok) throw new Error("Failed to fetch image");
      const blob = await imageResponse.blob();
      const imgURL = URL.createObjectURL(blob);
      img.src = imgURL;
      localStorage.setItem("importImage", imgURL);
    } catch (error) {
      console.error("Error downloading image:", error);
    }
  };
  window.onload = importimage;
</script>
{% endblock %}
