{% extends "nav.html" %} {% block content %}
  <link rel="stylesheet" type="text/css" href="static/styles/room.css"/>
  <div class="container-fluid" style="padding: 0px;justify-content: end;">
    <div class="item">
      <div class="col" style="background: rgb(64, 64, 64); position: relative;z-index: 100;">
        <div class="message-title" id="landing">
          <div class="form-group row">
            <div class="col-sm-12">
              <button class="btn btn-outline-secondary" type="button" id="join-btn" style="width: 100%" onclick="reconnect()">
                Connect
              </button>
            </div>
          </div>
        </div>
        <div class="message-title row" style="position: relative; z-index: 100">
          <div class="col-8">Canvas scale:
            <input type="range" class="form-range" id="zoom_range" min="-1.30" max="0.4771" step="0.001" value="1"/>
          </div>
          <div class="col-2" id="revise_hide" style="display: flex;justify-content: center;align-items: center;">
            <a id="pan_pivot" onclick="pan()" style="padding: 5px;border-radius: 3px;">
              <img src="static/icons/move.svg">
            </a>
          </div>
          <div class="col-2" id="revise_hide" style="display: flex;justify-content: center;align-items: center;">
            <a id="mirror_pivot" onclick="mirror()" style="padding: 5px;border-radius: 3px;">
              <img src="static/icons/mirror.svg">
            </a>
          </div>
        </div>
          <!-- Tools Panel Code -->
        <ul class="nav nav-tabs" id="myTab" role="tablist" data-bs-auto-close="false"  style="display:flex;justify-content: center;align-items: center;--bs-nav-tabs-link-active-bg:rgb(128, 128, 128);--bs-nav-tabs-link-active-border-color:var(--bs-border-color) var(--bs-border-color) rgb(128, 128, 128);">
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="draw-tab" data-bs-toggle="tab" data-bs-target="#draw" type="button" role="tab" aria-controls="draw" aria-selected="true" onclick="clickHidden('draw');color('draw');">
              <img src="static/icons/draw.svg">
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="eraser-tab" data-bs-toggle="tab" data-bs-target="#eraser" type="button" role="tab" aria-controls="eraser" aria-selected="false" onclick="clickHidden('eraser');color(this);">
              <img src="static/icons/eraser.svg">
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="layer-tab" data-bs-toggle="tab" data-bs-target="#layer" type="button" role="tab" aria-controls="layer" aria-selected="false" onclick="clickHidden('layer')">
              <img src="static/icons/layer.svg">
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="chatroom-tab" data-bs-toggle="tab" data-bs-target="#chatroom" type="button" role="tab" aria-controls="chatroom" aria-selected="false" onclick="clickHidden('chatroom')">
              <img src="static/icons/chat.svg">
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <!-- Draw Tool Code -->
          <div class="tab-pane fade" id="draw" role="tabpanel" aria-labelledby="draw-tab" style="padding:2px;">
            <div class="message-title">Line width:</div>
            <div class="message-title" style="position: relative; z-index: 100">
              <input type="range" class="form-range" id="width_range" />
            </div>
            <div class="message-title">Color:</div>
            <div class="message-title">
              <input type="color" id="favcolor" value="#ff0000" style="width: 100%"/>
            </div>
            <div class="message-title p-1 mb-1 text-white" style="background: blue" id="blue"onclick="color(this)">
              blue
            </div>
            <div class="message-title p-1 mb-1 text-white" style="background: black" id="black"onclick="color(this)">
              black
            </div>
          </div>
          <!-- Eraser Tool Code -->
          <div class="tab-pane fade" id="eraser" role="tabpanel" aria-labelledby="eraser-tab" style="padding:2px;">
            <div>
              <div class="message-title">Eraser width:</div>
              <div class="message-title" style="position: relative; z-index: 100">
                <input type="range" class="form-range" id="eraser_width_range" />
              </div>
            </div>
          </div>
          <!-- Layer Tool Code -->
          <div class="tab-pane fade" id="layer" role="tabpanel" aria-labelledby="layer-tab" style="padding:2px;">
              <div class="message-title" style="position: relative; z-index: 100">
                <label for="customRange1">Layer opacity:</label>
                <input type="range" class="form-range" id="opacity_range" min="0" max="1" step ="0.01"/>
              </div>
              <label class="message-title">Layer tools:</label>
              <div class="btn-group message-title" style="display: flex;">
                <button type="button" class="btn btn-outline-secondary" style="flex:1 0 0;" onclick="add_minelayer()">
                  <img src="static/icons/plus.svg">
                  <span class="visually-hidden">Button</span>
                </button>
                <button type="button" class="btn btn-outline-secondary" style="flex:1 0 0;" onclick="delete_minelayer()">
                  <img src="static/icons/minus.svg">
                  <span class="visually-hidden">Button</span>
                </button>
              </div>
              <div class="btn-group message-title" style="display: flex;">
                <button type="button" class="btn btn-outline-secondary" style="flex:1 0 0;" onclick="change_minelayer_order(1)">
                  <img src="static/icons/up.svg">
                  <span class="visually-hidden">Button</span>
                </button>
                <button type="button" class="btn btn-outline-secondary" style="flex:1 0 0;" onclick="change_minelayer_order(-1)">
                  <img src="static/icons/down.svg">
                  <span class="visually-hidden">Button</span>
                </button>
              </div>
              <label class="message-title">Layers:</label>
              <ul class="message-title overflow-auto" id="layer_thumbnail" style="border-radius: 10px;border: 1px solid white;background-color:rgb(184, 184, 184);">
                <li id="thumbnail_1" style="background-color: rgb(95, 103, 255)" onclick="change_minelayer_active(this)"><a style="margin: 10px;"id="visibility_1" onclick="change_minelayer_visibility(this)">
                    <img src="static/icons/eye.svg"
                    ><span class="visually-hidden">Button</span></a><img class="mx-2" width="75" height="75"
                  /></li>
              </ul>
          </div>
          <!-- Message Tool Code -->
          <div class="tab-pane fade" id="chatroom" role="tabpanel" aria-labelledby="chatroom-tab" style="padding:2px;">
            <div class="message-title" id="room-info" ></div>
            <div class="message-title" style="text-align: start;">Message:</div>
            <div class="rounded-3 border p-1 message-title" id="chat" style="color:rgb(255, 255, 255);">
                <ul id="chat-messages" class="overflow-auto"style="max-height: 200px;"></ul>
                <div class="input-group">
                  <input type="text" class="form-control" id="message" placeholder="Enter a Message" style="background-color: transparent;color: rgb(255, 255, 255);" autocomplete="off" />
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="sendMessage()">Send</button>
                </div>
              <input type="checkbox" class="btn-check" id="bye_button" autocomplete="off" onclick="bye()"/>
              <label class="btn btn-outline-warning" style="width: 100%" for="bye_button" >Disconnect</label>
            </div>
            <div class="message-title" style="text-align: start;">Room members:</div>
            <div class="rounded-3 border p-3 message-title" id="members" style="display: none;color:rgb(255, 255, 255);">
              <ul id="members-list"  class="overflow-auto"></ul>
            </div>
          </div>
        </div>
        <div class="message-title row" id="revise-tool" style="position: relative; z-index: 100;display: none;">
          <div class="col" id="revise_range_div"  style="position: relative; z-index: 100;display:none">
            <label for="customRange1" class="form-label">Revise Scale</label>
            <input type="range" class="form-range" id="revise_range" min="0.5" max="3" step="0.001" value="1"/>
          </div>
          <button class="btn btn-outline-light" id="revise_button" onclick="revise_start()" style="width: 100%">
            revise
          </button>
        </div>
      </div>
    </div>
    <div class="item" id="painting-area">
      <canvas
        id="middle"
        style="
          position: absolute;
          border: 0px solid;
          touch-action: none;
          z-index: 80;
        "
      ></canvas>
      <canvas
        id="can"
        style="
          position: absolute;
          border: 0px solid;
          touch-action: none;
          z-index: 70;
        "
      ></canvas>
      <canvas
        id="minelayer1"
        class="minelayer"
        style="
          position: absolute;
          border: 0px solid;
          touch-action: none;
          z-index: 10;
          opacity:1;
          visibility: visible;
        "
      ></canvas>
      <canvas
        id="projection"
        style="
          position: absolute;
          border: 0px solid;
          touch-action: none;
          z-index: 2;
        "
      ></canvas>
      <div
        id="bg"
        style="
          position: absolute;
          width: 2000px;
          height: 2000px;
          border: 0px solid;
          border-style: dashed;
          border-color: rgb(255, 255, 255);
          background-color: rgb(255, 255, 255);
          touch-action: none;
          z-index: 0;
        "
      ></div>
    </div>
    <div
      class="item"
      style="
        position: relative;
        z-index: 100;
        background-color: rgb(255, 229, 211);
        visibility:hidden;
      "
    >
    </div>
  </div>
  <!-- Client Render Code -->
  <script src="static/draw.js"></script>
  <script src="static/scripts/cursorTracker.js"></script>
  <script src="static/mod_function.js"></script>
  <script src="static/layer_function.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <!-- Websocket Code -->
  <script>
    const username = "{{ username }}";
    const room = "{{ roomname }}";
    let toolShow="";
    window.onload=init();
    function clickHidden(eleName){
      if (toolShow==eleName){
        if (toolShow!="eraser" && toolShow!="draw"){
          document.getElementById(eleName+"-tab").classList.remove("active");
        }
        document.getElementById(eleName).classList.remove("active");
        document.getElementById(eleName).classList.remove("show");
        toolShow="";
      }else{
        if (toolShow!="eraser" && toolShow!="draw"){
          document.getElementById(eleName).classList.add("active");
          document.getElementById(eleName).classList.add("show");
          document.getElementById(eleName+"-tab").style.borderColor="";
        }
        toolShow=eleName;}
    }
    function show_revise_tool(){
      if (document.getElementById('revise-tool').style.display=="none")
        {
          document.getElementById('revise-tool').style.display="block";
        }else{
          document.getElementById('revise-tool').style.display="none";
        }
    }
  </script>
  <script src="static/ws_client.js"></script>
{% endblock%}
