{% extends "nav.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="static/styles/index.css"/>
<link rel="stylesheet" type="text/css" href="static/styles/room_choose.css"/>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
<div id="form-mask" class="mask">
  <div id="createroom-div" class="popup-form">
    <div class="closeicondiv">
      <img class="closeicon" src="/static/icons/close.svg" onclick="showUserForm(false)"/>
    </div>
    <form id="createroom-form" class="createroom-form" method="post" action="/createroom">
      <div class="form-title">Create New Room</div>
      <div class="form-item-label">Room Name</div>
      <input type="text" class="form-item" name="roomname" placeholder="roomname" required/>
      <div class="form-item-label">Category</div>
      <input type="text" class="form-item" name="category" placeholder="category" required/>
      <div class="form-item-label">Tags</div>
      <input type="text" class="form-item" name="tags" placeholder="tags" required/>
      <button class="form-button">Create</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="content">
    <div class="information">
      <div class="left-sidebar">
        {% if avatar%}
        <img class="left-sidebar-avatar" src="{{avatar}}">
        {% else%}
        <img class="left-sidebar-avatar" src="static/icons/user.svg">
        {% endif%}
        <div class="left-sidebar-name">{{user.username}}</div>
        <div class="left-sidebar-aboutme">
          {{user.about_me}}
        </div>
      </div>
      <div class="main">
        <div class="main-room">
          <div class="sub-title">
            <img class="main-title-icon" src="static/icons/record.svg"/>
            <div>Live Sketch Rooms</div>
          </div>
          <div class="intros">Create your own Sketch room to draw, explore ideas, and have fun<br>— or check out existing rooms to join others in a creative session.</div>
          <div class="main-room-scroll">
            <div class="main-roomdiv">
              <div class="main-roominfo main-roomform" onclick="showUserForm(true)">
                <div class="main-roominfo-create">
                  <img src="static/icons/plus-circle.svg"/>
                </div>
                <div class="main-roominfo-information">
                  <div class="room-title">Create Live Room</div>
                </div>
              </div>
              {% if roominfolive%}
              {% for room,roomdata in roominfolive.items() %}
              <form class="main-roominfo main-roomform" method="post" action="/chooseroom" id="roomForm-{{room}}">
                <input type="hidden" name="roomsid" value="{{room}}">
                <div class="main-roominfo" onclick="postRoomForm('{{room}}')">
                  <img src="{{roomdata['thumbnail']}}">
                  <div class="main-roominfo-banner">
                    LIVE&nbsp;
                    <img src="static/icons/user.svg"/>&nbsp;
                    {{roomdata["member"]|length}}
                  </div>
                  <div class="main-roominfo-information">
                    <div class="room-title">{{roomdata["roomname"]}}</div>
                  </div>
                </div>
              </form>
              {% endfor %}
              {% endif%}
            </div>
          </div>
          <div class="sub-title">
            <img class="main-title-icon" src="static/icons/history.svg"/>
            <div>Your Former Rooms</div>
          </div>
          <div class="main-room-scroll">
            <div class="main-roomdiv">
              {% if roominfo%}
              {% for room in roominfo %}
              <form class="main-roominfo main-roomform" method="post" action="/chooseroom" id='roomForm-{{room["id"]}}'>
                <input type="hidden" name="roomsid" value='{{room["id"]}}'>
                <div class="main-roominfo" onclick='postRoomForm("{{room["id"]}}")'>
                  <img src='/thumbnail/{{room["id"]}}'>
                  {% if room["live_memeber_len"]>0%}
                  <div class="main-roominfo-banner">
                    LIVE&nbsp;
                    <img src="static/icons/user.svg"/>&nbsp;
                    {{room["live_memeber_len"]}}
                  </div>
                  {% endif%}
                  <div class="main-roominfo-information">
                    <div class="room-title">{{room["roomname"]}}</div>
                  </div>
                </div>
              </form>
              {% endfor %}
              {% endif%}
            </div>
          </div>
        </div>
        <div class="right-sidebar">
          <div>
            {% if src%}
            <div>
              <div class="sub-title">
                <img class="main-title-icon" src="static/icons/import.svg"/>
                <div>Import Image</div>
              </div>
              <div class="intros">Image will be added to the room</div>
              <div class="right-sidebardiv">
                <img class="right-sidebar-img" id="localimage"/>
              </div>
            </div>
            {% endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="static/scripts/room_choose.js"></script>
{% endblock %}
