input {
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid rgb(184, 184, 184);
    color: #ffffff;
    padding-left: 5px;
  }
input::placeholder {
    color: rgb(184, 184, 184);

  }
.left-intro{
    padding-top:0.5rem;
  }
.title{
    color: rgb(255, 107, 53);
    font-weight: 900;
    font-size: 4.6rem;
    margin-left:1rem;
  }
  .sub-title{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 3rem;
    margin-left:1rem;
  }
  .content{
    color: rgb(184, 184, 184);
    font-weight: 500;
    font-size: 1.2rem;
    margin-left:1rem;
    margin-top:0.3rem;
    margin-bottom:0.3rem;
  }
  .loginform{
    margin-left:1rem;
    margin-top:10px;
    margin-bottom:30px;
  }
th{
  padding: 0px;
}

textarea {
  margin-top:5px;
  margin-right:5px;
  margin-bottom:5px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid rgb(184, 184, 184);
  color: #ffffff;
  padding-left: 5px;
}
textarea::placeholder {
  color: rgb(184, 184, 184);

}
.tags-div{
  display: flex;
  padding: 3px;
  border: 2px solid rgb(184, 184, 184);
  flex-wrap: wrap;
  border-radius: 3px 3px 0px 0px;
}
.tags-item{
  flex:1 0 0%;
  display: flex;
  justify-content: center;
  border :2px solid rgb(184, 184, 184);
  color: white;
  margin: 3px;
  border-radius: 5px;
}
.tags-input{
  width: 0%;
  flex:1 0 0%;
  color: white;
  margin: 3px;
  border-radius: 5px;
}
.tags-menu{
  display: none;
  background-color: transparent;
  list-style: none;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  border: 2px solid rgb(184, 184, 184);
  border-top:0px
}
.tags-menu-item{
  color:white;
}
.tags-menu-item-create{
  color:white;
}
.tags-menu-devider{
  color: white;
  opacity: 100%;
}
.line-breaker{
  flex:0 0 0;
}

body{
  display: flex;
  align-content: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25); 
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.overlay.active{
  display: flex;
}

.login-form{
  width: 350px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-family: 'Montserrat';
  z-index: 2;
  position: relative;
}

.login-form-close-icon{
  width: 30px;
  position: absolute;
  margin: 10px;
  top:0px;
  right: 0px;
}

.login-form-title{
  font-size: 30px;
  margin: 10px auto;
  text-align: center;
}
.login-form-message{
  text-align: center;
  color: red;
}
.login-form-item{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: black;
}
.login-form-button{
  display: block;
  padding: 10px;
  margin: 15px auto;
  color: rgb(100, 100, 100);
  background-color: transparent;
  border: 1px solid black;
}
.login-form-button:hover{
  background-color: rgb(100, 100, 100);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.main-container{
  display: grid;
  width: 100%;
  justify-items: center;
}
.top-main-container{
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.top-main-gallerydiv{
  position: absolute;
  top:0px;
  right: 0px;
  margin: 10px;
  font-size: 30px;
  color:rgb(64, 64, 64);
  background-color:unset;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 10px;
}
.top-main-gallery-link{
  all: unset;
  cursor: pointer;
  font-family: 'Montserrat';
  margin: 20px;
}
.top-main-gallerydiv:hover{
  color: white;
  background-color: rgb(100, 100, 100);
  border: 1px solid rgb(100, 100, 100);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.top-main-title{
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto';
  margin-bottom: 10px;
}
.top-main-subtitle{
  font-size: 30px;
  text-align: center;
  font-family: 'Montserrat';
}
.top-main-buttondiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.top-main-button{
  width: 200px;
  padding: 20px;
  font-size: 20px;
  color: rgb(100, 100, 100);
  background-color: transparent;
  border: 1px solid black;
}
.top-main-button:hover{
  background-color: rgb(100, 100, 100);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.tab-container{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.tab-bar{
  width: 100%;
  max-width: 1200px;
  display:flex;
  font-family: 'Montserrat';
  justify-content: space-between;
  position: sticky;
  top:0;
}
.tab-title{
  margin:10px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  color:black
}
.tab-item-list{
  display: flex;
}
.tab-item{
  font-size: 20px;
  margin:10px;
  color:rgb(170, 170, 170);
  cursor: pointer;
}
.tab-item.active{
  color:black;
}
.feature-main-container{
  width:100%;
  background-color: rgb(64, 64, 64);
  color:white;
  display: flex;
  justify-content: center;
}
.feature-main-container-flex{
  display: flex;
  align-items: start;
  max-width: 1200px;
  width: 100%;
}
.feature-main-column{
  flex:1;
  margin: 10px;
  font-family: 'Montserrat';;
}
.feature-main-column.timeline{
  flex:unset;
  width:150px;
  display: flex;
  margin-top: 50px;
  position:sticky;
  top:90px;
  margin-left: 40px;
}
.feature-main-element{
  display: flex;
  margin: 40px 0px;
  scroll-margin-top: 50px;
}
.feature-main-element-image{
  display: flex;
  height:400px;
}
.feature-main-element-description{
  flex:1;
  margin-left: 50px;
}
.feature-main-element-description.left{
  margin-left: unset;
  margin-right: 50px;
}
.feature-main-element-description-title{
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: bold;
}
.feature-main-element-description-content{
  font-family: 'Montserrat';
  font-size: 18px;
  margin-bottom: 30px;
}

.footer-container{
  width: 100%;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-main-timelinediv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-main-timeline-circle{
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0 6px white;
  position: relative;
  z-index:2;
}
.feature-main-timeline-circle.active{
  background-color: rgb(41, 193, 220);
  box-shadow: 0 0 0 6px white;
}
.feature-main-timeline-line{
  width: 8px;
  height: 80px;
  box-sizing: border-box;
  background-color: white;
  z-index:3;
}
.feature-main-timeline-line.active{
  background-color: rgb(41, 193, 220);
  border:1px solid white ;
  border-width: 0px 3px 0px 3px;
}
.feature-main-timeline-text{
  position: absolute;
  font-family: 'Montserrat';
  top: -8px;
  left: 20px;
  font-size: 14px;
  color:white
}
.feature-main-timeline-text.active{
  color: rgb(41, 193, 220);
  font-weight: bold;
}
.feature-main-itemdiv{
  display: flex;
  margin: 30px 0px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.feature-main-item{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
  color:white;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.feature-main-itemdiv:hover .feature-main-item{
  background-color: rgb(177, 100, 100);
  transform: rotateY(180deg);
  transition: background-color 0.3s ease, transform 0.3s ease;
  justify-content: end;
  align-items: end;
}
.feature-main-itemdiv:hover .feature-main-item .feature-main-title{
  display: none;
}
.feature-main-item-back{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.feature-main-item-back-text{
  display: flex ;
  align-content: end;
  flex-wrap: wrap;
}



.feature-main-itemdiv:hover .feature-main-item .feature-main-item-back{
  display: flex;
  transform: rotateY(180deg);
}

.feature-main-item-back img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: top;
}
.about-intro-div{
  display: flex;
  margin-bottom: 30px;
}
.about-intro-icon{
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  height: 80px;
}
.about-intro-chat{
  position: relative;
  height: 50%;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
}
.about-intro-chat::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #f1f0f0;
}

.about-intro-chat::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -8px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid rgb(64, 64, 64);
}
.about-div{
  display: flex;
}
.about-icon{
  width: 30px;
  flex-shrink: 0;
}
.about-text{
  margin: 10px;
  white-space: normal;
  word-break: break-word;
}
.about-arrow{
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid currentColor;
  margin: 8px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

#communication{
  top: 30%;
  width: 40%;
  height: 40%;
  position: relative;
  left: 30%;
  }

@media (max-width:900px) {
  .feature-main-element{
    flex-wrap: wrap;
  }
  .feature-main-element-image{
    order:2;
    width: 100%;
  }
  .feature-main-element-description{
    order:1;
    width: 100%;
    margin: 10px;
  }
  .feature-main-element-description.left{
    margin: 10px;
  }
}
@media (max-width:768px) {
  .feature-main-container{
    display: block;
  }
  .top-main-gallerydiv{
    font-size: 25px;
  }
  .top-main-title{
    font-size: 50px;
  }
  .top-main-subtitle{
    font-size: 20px;
  }
  .top-main-button{
    width: unset;
  }
  .feature-main-element{
    scroll-margin-top: 100px;
  }
  .feature-main-container-flex{
    flex-wrap: wrap;
  }
  .feature-main-column:nth-child(1){
    width: 100%;
    order:2;
  }
  .feature-main-column.timeline{
    width: 100%;
    order:1;
    justify-content: center;
    padding: 40px 0px 20px 0px;
    top: 50px;
    background-color: rgb(64, 64, 64);
    margin: unset;
    margin-top: unset;
  }
  .feature-main-timelinediv{
    flex-direction: unset;
  }
  .feature-main-timeline-line{
    width: 80px;
    height: 8px;
  }
  .feature-main-timeline-line.active{
    border-width: 3px 0px 3px 0px;
  }
  .feature-main-timeline-text{
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }
}
@media (max-width:600px) {
  h1{
    font-size: 5vw;
    margin:2vw;
    }
  h3{
    font-size:4vw;
    }
  .title{
    font-size: 12vw;
  }
  .sub-title{
    font-size: 8vw;
  }
  .content{
    font-size: 3.5vw;
  }
}
@media (max-width:1200px) {
  .line-breaker{
    flex: unset;
  }
}