.offcanvas.offcanvas-end{
    width: 20%;
    min-width: 200px;
    background-color:rgb(64, 64, 64);
    padding: 0px;
  }
  .canvas-left-info{
    display: flex;
    justify-content: space-between;
    margin-bottom:16px;
  }
  .canvas-left-info-img{
    width: 30px;
  }
  .canvas-left-info-name{
    color:white
  }
  .canvas-left-item{
    margin-top:16px;
    margin-bottom:16px;
  }
  .canvas-left-item-link{
    text-decoration: none;
  }
  .canvas-left-itemdiv{
    display:flex;
    padding-top:5px;
    padding-bottom:5px;
  }
  .canvas-left-img{
    width: 30px;
  }
  .canvas-left-text{
    flex:1 0 5%;
    color: white;
    font-size: 1.2rem;
    padding-left:10px;
  }
  @media (max-width:600px) {
    h1{
      font-size: 5vw;
      margin:2vw;
      }
    h3{
      font-size:4vw;
      }
    }