html,body{
    height: 100%;
}
div{
    user-select:none;
    touch-action: none;
}
#can{
    cursor: none;
}
#projection {
    opacity: 0;
}
ul {
    margin:0px;
    padding: 0px;
}

.layer-ul{
    margin-left: 5px;
    margin-right: 5px;
    color:rgb(184, 184, 184);
    text-decoration: none;
    overflow: auto;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid white;
    background-color:rgb(184, 184, 184);
}

.mx-2{
    background: url('../trans_bg.png');
    border:0px solid;
    background-size: 30px;
}

.container-fluid{
    display:flex;

}
.item{
    width:150px;
    background-color: rgb(80, 80, 80);
    border-radius: 0px 0px 0px 5px;
}
h1{
    margin:1rem;
}
#room-info{
    margin-left:5px;
    color:white;
    text-align: center;
}
#chat{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 0;
    font-size: 10px;
}

#members{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.bottom-tool-div{
    position: absolute;
    bottom: 0px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 80, 80);
    border-radius: 10px 0px 0px 0px;
}
.message-title{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color:rgb(184, 184, 184);
    justify-content: space-between;
}
.bottom-tool-close-icon{
    position: absolute;
    top: 20px;
    right: 0px;
    width: 30px;
}
.memberlist-onlineicon{
    width:10px;
    height: 10px;
    background-color: #44b700;
    border-radius: 50%;
    margin: 5px;
}

.memberlist-onlineicon.offline{
    background-color: #FFA500;
}
.memberlist-username{
    margin-left: 5px;
}

.layer-tool-container{
    min-height: 0;
    display: flex;
    flex-direction: column;
}
.layer-tooldiv{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    flex: 1 0 25px;
}

.layer-tool-icon{
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 3px;
}


.message-tool-container{
    padding:2px;
    font-size: small;
    min-height: 0;
    display: flex;
    flex-direction: column;
}
.layer-tool-icon:hover{
    background-color: rgb(168, 168, 168);
}
input {
    flex: 1 1 auto;
    width: 1%;
    background-color: transparent;
    color: #ffffff;
  }
.form-control{
    padding: 3px;
    font-size: 10px;
  }
.form-control::placeholder {
    color: rgb(184, 184, 184);
  }
.btn-outline-secondary{
    border: 1px solid white;
    color: rgb(184, 184, 184);
}
.btn-outline-secondary:hover{
    border: 1px solid white;
}
.canvas-left{
    width: 20%;
    min-width: 200px;
    background-color:rgb(64, 64, 64);
    padding: 0px;
    position: absolute;
}
.canvas-left-info{
    display: flex;
    justify-content: space-between;
    margin-bottom:16px;
}
.canvas-left-info-img{
    width: 30px;
}
.canvas-left-info-name{
    color:white
}
.canvas-left-item{
    margin-top:16px;
    margin-bottom:16px;
}
.canvas-left-item-link{
    text-decoration: none;
}
.canvas-left-itemdiv{
    display:flex;
    padding-top:5px;
    padding-bottom:5px;
}
.canvas-left-img{
    width: 30px;
}
.canvas-left-text{
    flex:1 0 5%;
    color: white;
    font-size: 1.2rem;
    padding-left:10px;
}


.tool_name:hover{
    background-color: rgb(168, 168, 168);
    border-radius: 3px;
}

.draw-colorpickerdiv-hue{
    position: relative;
    display: flex;
}

.draw-colorpicker-hue{
    width: 20px;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid white;
    background: linear-gradient(180deg, hsl(0,100%,50%), hsl(30,100%,50%), hsl(60,100%,50%), hsl(90,100%,50%), hsl(120,100%,50%), hsl(150,100%,50%), hsl(180,100%,50%), hsl(210,100%,50%), hsl(240,100%,50%), hsl(270,100%,50%), hsl(300,100%,50%), hsl(330,100%,50%), hsl(360,100%,50%));
}
.draw-colorpicker-hue-icon{
    position: absolute;
    width: 20px;
    height: 3px;
    border: 1px solid black;
    pointer-events: none;
    background: rgb(255 255 255);
}

.draw-colorpickerdiv{
    position: relative;
    cursor: crosshair;
    flex:1;
}

.draw-colorpicker-img{
    position: absolute;
    width:100%;
    border: 2px solid white;
    pointer-events: none;
}
.draw-colorpicker-bg{
    background-color: red;
    width: 100%;
    aspect-ratio: 1;
}
.draw-colorpicker-icon{
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid white;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

.draw-colorpicker-show{
    width: 30px;
    aspect-ratio: 1;
    margin: 10px 10px 0px 0px;
    border: 1px solid white;
    background-color: black;
}
.draw-colorpicker-samplediv{
    display: flex;
    align-items: end;
}
.draw-colorpicker-sample{
    height: 20px;
    aspect-ratio: 1;
    background: url('../trans_bg.png');
    border: 1px solid white;
    background-size: contain; 
    position: relative;
}
.draw-colorpicker-sample-menu{
    display: none;
    position:absolute;
    color:white;
    background-color: rgb(80, 80, 80);
    transform: translate(0%, 100%);
    margin: -1px;
    bottom: 0px;
    right: 0px;
    font-size: 10px;
    white-space: nowrap;
    border:1px solid black;
    border-radius: 3px;
}
.draw-colorpicker-sample-menu:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toobar-container{
    flex:1;
}

.toolbar{
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    
}
.hompage-icon-href{
    display: flex;
    align-items: center;
    margin: 4px;
    padding: 3px;
    border-radius: 3px;
    line-height: 0;
    cursor: pointer;
    background-color: rgb(109, 109, 109);
    border:1px solid black;
    border-radius: 3px;
}
.hompage-icon-href:hover{
    background-color: rgb(168, 168, 168);
}
.nav-tool-li{
    margin: 4px;
    border:1px solid black;
    border-radius: 3px;
    background-color: rgb(109, 109, 109);
}

.nav-too-href{
    padding: 4px 10px;
    display: flex;
}
.tool-icon-href{
    margin: 4px;
    padding: 3px;
    border-radius: 3px;
    line-height: 0;
    cursor: pointer;
}

.tool-zoom-div{
    display: flex;
    position: fixed;
    z-index: 101;
    padding: 5px;
    line-height: 0;
    bottom: 0px;
    left: 30px;
}
#zoom_range{
    margin: 5px;
}
#zoom_range::-webkit-slider-runnable-track{
    background: #989898;

}


 /* The switch - the box around the slider */
.online-switch-div{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
}

.switch {
    display: inline-block;
    width: 34px;
    height: 20px;
    position: relative;
    margin: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    position: relative;
    opacity: 0;
    width:  0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    right: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:not(:checked) + .slider {
    background-color: #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(-14px);
    -ms-transform: translateX(-14px);
    transform: translateX(-14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
} 

@media(max-width:600px){
    h1{
    font-size: 5vw;
    margin:2vw;
    }
    h3{
        font-size:4vw;
        }
}
