#can{
    cursor: none;
}
#projection {
    opacity: 0;
}
ul {
    margin:0px;
    padding: 0px;
}

.mx-2{
    background: url('../trans_bg.png');
    border:0px solid;
    
}

.container-fluid{
    display:flex;

}
.item{
    max-width:250px;
}
h1{
    margin:1rem;
}
#room-info{
    margin-left:1rem;;
}

.message-title{
    margin-left: 1rem;
    margin-right: 1rem;
    color:rgb(184, 184, 184);
}
input {
    flex: 1 1 auto;
    width: 1%;
    background-color: transparent;
    color: #ffffff;
  }
.form-control::placeholder {
    color: rgb(184, 184, 184);
  }
.btn-outline-secondary{
    border: 1px solid white;
    color: rgb(184, 184, 184);
}
.btn-outline-secondary:hover{
    border: 1px solid white;
}
.canvas-left{
    width: 20%;
    min-width: 200px;
    background-color:rgb(64, 64, 64);
    padding: 0px;
    position: absolute;
}
.canvas-left-info{
    display: flex;
    justify-content: space-between;
    margin-bottom:16px;
}
.canvas-left-info-img{
    width: 30px;
}
.canvas-left-info-name{
    color:white
}
.canvas-left-item{
    margin-top:16px;
    margin-bottom:16px;
}
.canvas-left-item-link{
    text-decoration: none;
}
.canvas-left-itemdiv{
    display:flex;
    padding-top:5px;
    padding-bottom:5px;
}
.canvas-left-img{
    width: 30px;
}
.canvas-left-text{
    flex:1 0 5%;
    color: white;
    font-size: 1.2rem;
    padding-left:10px;
}


.tool_name:hover{
    background-color: rgb(168, 168, 168);
}

.draw-colorpickerdiv{
    position: relative;
    border: 2px solid white;
    cursor: crosshair;
}

.draw-colorpicker-img{
    position: absolute;
    width:100%;
    pointer-events: none;
}
.draw-colorpicker-bg{
    background-color: red;
    width: 100%;
    aspect-ratio: 1;
}
.draw-colorpicker-icon{
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid white;
    pointer-events: none;
}

.draw-colorpickerdiv-hue{
    position: relative;
    margin: 1rem;
}

.draw-colorpicker-hue{
    height: 20px;
    border-radius: 5px 5px 0px 0px;
    border: 2px solid white;
    background: linear-gradient(90deg, hsl(0,100%,50%), hsl(30,100%,50%), hsl(60,100%,50%), hsl(90,100%,50%), hsl(120,100%,50%), hsl(150,100%,50%), hsl(180,100%,50%), hsl(210,100%,50%), hsl(240,100%,50%), hsl(270,100%,50%), hsl(300,100%,50%), hsl(330,100%,50%), hsl(360,100%,50%));
}
.draw-colorpicker-hue-icon{
    position: relative;
    width: 3px;
    height: 10px;
    border: 2px solid white;
    pointer-events: none;
}


@media(max-width:600px){
    h1{
    font-size: 5vw;
    margin:2vw;
    }
    h3{
        font-size:4vw;
        }
    #room-info{
        margin-left:2vw;
    }
    .message-title{
        margin-left: 2vw;
        margin-right: 2vw;
    }
}
